In [2]:
# instalo la librería que me falta:
%pip install seaborn

Requirement already satisfied: seaborn in c:\users\espe\appdata\local\programs\python\python312\lib\site-packages (0.13.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\espe\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in c:\users\espe\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\espe\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\espe\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\espe\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\espe\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\espe\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\espe\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\espe\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\espe\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\espe\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\espe\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\espe\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\espe\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [24]:
# Importo las librerías que necesitaré para el sprint
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Utilizo 'connector' en lugar de Alchemy para conectarme a la BBDD:
import mysql.connector
conexion = mysql.connector.connect(user='root', password='SQLespe2010', host='localhost', database = 'transactions', port='3306')

# Verifico la conexión:
if conexion.is_connected():
    print(f"Conexión exitosa a la base de datos '{conexion.database}'")
else:
    print("Error al conectar")

# diccionario para almacenar totas las tablas de la BBDD mediante función:
def generar_diccionario_tablas(conexion):
    cursor = conexion.cursor()
    cursor.execute("SHOW TABLES;") 
    tablas = cursor.fetchall() 
    diccionario_tablas = {tabla[0]: f"SELECT * FROM {tabla[0]}" for tabla in tablas}
    return diccionario_tablas

# otro dicionario para almacenar los dataframes generados para cada tabla mediante función:
dataframes = {}
def cargar_tablas_en_dataframes(conexion):
    global dataframes
    query_dict = generar_diccionario_tablas(conexion)
    for tabla, query in query_dict.items():
        dataframes[tabla] = pd.read_sql(query, conexion)
        print(f"DataFrame creado para la tabla '{tabla}'")

cargar_tablas_en_dataframes(conexion)

print("\nNombres de los DataFrames creados:")
for df_name in dataframes:
    print(f"df_{df_name}")

#Cierro la conexión:
def cerrar_conexion():
    conexion.close()
    print("La conexión a la BBDD está cerrada")

cerrar = cerrar_conexion()

# visualizo la info de cada df:
for df_name, df in dataframes.items():
    print(f"\nInformación de '{df_name}':")
    df.info()  # Muestra información del DataFrame

Conexión exitosa a la base de datos 'transactions'
DataFrame creado para la tabla 'company'
DataFrame creado para la tabla 'credit_card'
DataFrame creado para la tabla 'data_user'
DataFrame creado para la tabla 'informetecnico'
DataFrame creado para la tabla 'transaction'
DataFrame creado para la tabla 'vistamarketing'

Nombres de los DataFrames creados:
df_company
df_credit_card
df_data_user
df_informetecnico
df_transaction
df_vistamarketing
La conexión a la BBDD está cerrada

Información de 'company':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            101 non-null    object
 1   company_name  100 non-null    object
 2   phone         100 non-null    object
 3   email         100 non-null    object
 4   country       100 non-null    object
dtypes: object(5)
memory usage: 4.1+ KB

Información de 'credit_card':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             275 non-null    object
 1   iban           275 non-null    object
 2   pin            275 non-null    object
 3   cvv            275 non-null    int64
 4   expiring_date  275 non-null    object
 5   fecha_actual   0 non-null      object
dtypes: int64(1), object(5)
memory usage: 13.0+ KB

Información de 'data_user':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           275 non-null    int64
 1   name         275 non-null    object
 2   surname      275 non-null    object
 3   phone        275 non-null    object
 4   email        275 non-null    object
 5   birth_date   275 non-null    object
 6   country      275 non-null    object
 7   city         275 non-null    object
 8   postal_code  275 non-null    object
 9   address      275 non-null    object
dtypes: int64(1), object(9)
memory usage: 21.6+ KB

Información de 'informetecnico':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 586 entries, 0 to 585
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TransaccionId  586 non-null    object
 1   Nombre         586 non-null    object
 2   Apellido       586 non-null    object
 3   IBAN           586 non-null    object
 4   Empresa        586 non-null    object
dtypes: object(5)
memory usage: 23.0+ KB

Información de 'transaction':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 586 entries, 0 to 585
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              586 non-null    object
 1   credit_card_id  586 non-null    object
 2   company_id      586 non-null    object
 3   user_id         586 non-null    int64
 4   lat             586 non-null    float64
 5   longitude       586 non-null    float64
 6   timestamp       586 non-null    datetime64[ns]
 7   amount          586 non-null    float64
 8   declined        586 non-null    int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(3)
memory usage: 41.3+ KB

Información de 'vistamarketing':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Empresa      100 non-null    object
 1   Teléfono     100 non-null    object
 2   País         100 non-null    object
 3   MediaCompra  100 non-null    float64
dtypes: float64(1), object(3)
memory usage: 3.3+ KB

C:\Users\Espe\AppData\Local\Temp\ipykernel_9556\1827071490.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframes[tabla] = pd.read_sql(query, conexion)

In [9]:
# EJERCICIO 1: una variable numèrica.
# tabla sales 

query = "SELECT amount FROM sales;"

df_sales = pd.read_sql(query, conexion)

# Gráfico el histograma
plt.figure(figsize=(8, 6))
sns.histplot(df_sales['amount'], kde=True, bins=20, color='blue')
plt.title("Distribución importe ventas")
plt.xlabel("Importe")
plt.ylabel("Frecuencia")
plt.grid(True)
plt.show()

C:\Users\Espe\AppData\Local\Temp\ipykernel_9556\1431252843.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_sales = pd.read_sql(query, conexion)

DatabaseError: Execution failed on sql 'SELECT amount FROM sales;': 1146 (42S02): Table 'sprint4.sales' doesn't exist

In [ ]:
# EJERCICIO 2: Dues variables numèrica.

# Tabla = sales
# Variable = amount

query = "SELECT amount, quantity FROM sales;"

df_sales = pd.read_sql(query, conexion)


# Gráfico: scatter plot
plt.figure(figsize=(8, 6))
sns.scatterplot(data=df_sales, x='quantity', y='amount', color='green', alpha=0.7)
plt.title("Relación entre cantidad e importe ventas")
plt.xlabel("Cantidad")
plt.ylabel("Importe")
plt.grid(True)
plt.show()

In [1]:
# Ejercicio 3: Una variable categórica

# Tabla: products
# Variable: category

# Importo la tabla en pandas
query = "SELECT category FROM products;"
df_products = pd.read_sql(query, conexion)

# Creo variable para contar la frecuencia por categoría
contar_categoria = df_products['category'].value_counts()

# Gráfico: bar plot: muestra la frecuencia de cada categoría
plt.figure(figsize=(8, 6))
sns.barplot(x=contar_categoria.index, y=contar_categoria.values, palette='viridis')
plt.title("Frecuencia de categorías de productos")
plt.xlabel("Categoría")
plt.ylabel("Frecuencia")
plt.xticks(rotation=90)
plt.grid(True)
plt.show()

NameError: name 'pd' is not defined

In [ ]:
# EJERCICIO 4: Una variable categòrica i una numèrica.

# Gráfico: boxplot 
plt.figure(figsize=(8, 6))
sns.boxplot(data=df_sales_products, x='category', y='amount', palette='coolwarm')
plt.title("Distribución de importe por categoría")
plt.xlabel("Categoría")
plt.ylabel("Importe")
plt.xticks(rotation=45)
plt.grid(True)
plt.show()

In [ ]:
# EJERCICIO 5: Dues variables categòriques

# Tabla: sales
# Variables: category y region

# Necesito la tabla de frecuencias previa
freq_table = pd.crosstab(df_sales_products['category'], df_sales_products['region'])

# Gráfico: heatmap
plt.figure(figsize=(8, 6))
sns.heatmap(freq_table, annot=True, fmt="d", cmap='YlGnBu')
plt.title("Frecuencia conjunta entre categorías y regiones")
plt.xlabel("Región")
plt.ylabel("Categoría")
plt.show()

In [ ]:
# EJERCICIO 6: Tres variables.

# Tabla: sales
# Variables: amount, region, quantity


# Asigno colores y tamaños
region_sizes = df_sales['region'].value_counts()

# Graficar bubble chart
plt.figure(figsize=(10, 7))
sns.scatterplot(data=df_sales, x='quantity', y='amount', size='region', hue='region', sizes=(50, 500), palette='Set2')
plt.title("Relación entre cantidad-importe con regiones")
plt.xlabel("Cantidad")
plt.ylabel("Importe")
plt.legend(title="Región")
plt.grid(True)
plt.show()

In [ ]:
# EJERCICIO 7: Graficar un Pairplot.

#Tabla: sales.
#Variables: todas las numéricas (amount, quantity)

# Gráfico: pairplot
sns.pairplot(df_sales, diag_kind='kde', palette='husl')
plt.suptitle("Relaciones y distribuciones entre variables numéricas", y=1.03)
plt.show()

In [ ]:
conexion.commit()
conexion.close()